.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.logo {
  height: 30px;
}

.dropDownListButton {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 30px;
  background-color: hsl(243, 23%, 24%);
  border-radius: 7.5px;
  padding: 2px 10px;
  cursor: pointer;
  user-select: none;
}

.unitsName {
  padding: 0 5px;
}

.dropDownList {
  position: absolute;
  z-index: 50;
  right: 1rem;
  top: calc(2rem + 30px);
  background-color: hsl(243, 27%, 20%);
  border-radius: 7.5px;
  width: 11rem;
  padding: 0.4rem;
}

.dropDownList ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.dropDownList ol li{
  display: flex;
  padding: 0.5rem;
}

.switch {
  cursor: pointer;
  user-select: none;
  padding: 0.5rem;
  margin-bottom: 0.1rem;
}

.switch:hover, li.selected {
  background-color: hsl(243, 23%, 24%);
  border-radius: 7.5px;
}

.constant {
  font-size: 0.8rem;
  margin: 0 0 -0.2rem;
  color: hsl(240, 6%, 70%);
}

.bottom-border {
  border-bottom: 0.1px solid hsl(250, 6%, 84%);
  padding: 0;
  margin: 0.25rem;
}

.checkmark-container {
  flex: 1;
  flex-direction: space-between;
  text-align: right;
}