.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.logo {
  height: 30px;
}

.dropDownListButton {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 30px;
  background-color: hsl(243, 23%, 24%);
  border-radius: 7.5px;
  padding: 2px 10px;
  cursor: pointer;
}

.unitsName {
  padding: 0 5px;
}

.dropDownList {
  position: absolute;
  z-index: 50;
  right: 1rem;
  top: calc(1rem + 30px);
}

.dropDownList ol {
  list-style-type: none;
}