.hourlyForecast {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0;
  width: 100%;
  box-sizing: border-box;
}

.HourlyBox {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
  max-width: 700px;
  padding: 1rem;
}

.top {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  width: 100%;
}

.text, .daySelector {
  display: flex;
}

.text {
  display: flex;
  flex: 1;
  font-size: 1.2rem;
  height: 1.5rem;
  padding: 0.5rem 0;
  align-items: top;
}

.daySelector {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: hsl(243, 23%, 24%);
  border-radius: 10px;
  height: 2rem;
  width: 100%;
  max-width: 6rem;
  font-size: 0.9rem;
  padding: 0 1rem;
  cursor: pointer;
  user-select: none;
  anchor-name: --day-selector-button;
}

.hour {
  background-color: hsl(243, 23%, 24%);
  border: 0.5px solid hsl(243, 23%, 30%);
  border-radius: 10px;
  margin: 0rem 1rem 0.8rem;
  height: 4rem;
}

.bottom {
  max-height: 35rem;
  margin: 0 -1rem;
  overflow-y: scroll;
}

.last {
  margin-bottom: -0.8rem;
}

.dropDownList2 {
  position: absolute;
  position-anchor: --day-selector-button;
  top: anchor(bottom);
  right: anchor(right);
  margin-top: 0.5rem;
  background-color: hsl(243, 23%, 24%);
  border: 0.5px solid hsl(243, 23%, 30%);
  border-radius: 7.5px;
  width: 8rem;
  padding: 0.4rem;
}

.dropDownList2 ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.dropDownList2 ol li{
  display: flex;
  padding: 0.5rem;
  cursor: pointer;
}